
@font-face{
font-family: larch;
src: url('./fonts/larch.ttf');
}


ul.topbar li.topbar a
{
 color:#FBF5F3;
 font-family: larch,verdana;
}

ul.topbar li.topbar a:hover
{
 background-color:#e17033;
 font-family: larch,verdana;
}

.main_img
{
	margin: 0;
	padding: 0px;
}

.navbar-inverse-custom
{
	margin-bottom: 0px;
	background-color:#1d1d1d;
	border-color: #1d1d1d;
	z-index: 4px;
}

.form_custom
{
	width: 20%;
	margin: auto;

}

.label
{
	color:#e17033;
	font-weight: bold;
	font-family: larch,verdana;
	font-size: 125%;
}

.entrylabel
{
	margin-bottom: 15px;
	font-family: larch,verdana;
}

.inputfields_container
{
	float: right;
	margin: auto;
	margin-right: 15%;
	margin-top: 11%;
	margin-bottom: 11%;
	font-family: verdana;
}

hr.bottombar
{
	width: 40%;
	text-align: center;
	border-top: 1px solid #e17033;
	margin: 0 auto;
}

div.img
{
  height: auto;
  width: 70%;
  margin: auto;
  margin-top: 10px;
}	

div.img_container
{
  height: 175px;
  width: auto;
  float: left;
  margin: 5px;
  background-color: #1d1d1d;
}

img.img
{
  height: 120px;
  width: 120px;
  float: left top;
  text-align: center;
  text-align: center;
  z-index: 2px;
  background-color: #1d1d1d;
}	

div.img a:hover img 
{
	border: 1px solid #e17033;
}

div.songtitle
{
  text-align: left;
  width: 80px;
  color: #ffffff;
  margin-top : 6px;
  margin-left: 4px;
  font-size: 16px;
}

div.songartist
{
  text-align: left;
  width: 80px;
  float: bottom;
  margin-bottom: 2px;
  margin-left: 4px;
  color: #e17033;
  font-size: 12px;
}