
@font-face{
	font-family: larch;
	src: url('./fonts/larch.ttf');
}


ul.topbar li.topbar a
{
	color:#ffffff;
	font-family: larch,verdana;
}

ul.topbar li.topbar a:hover
{
	background-color:#2ecc71;
	font-family: larch,verdana;
}

.main_img
{
	margin: 0;
	padding: 0px;
}

.navbar-inverse-custom
{
	margin-bottom: 0px;
	background-color:#1d1d1d;
	border-color: #1d1d1d;
	z-index: 4px;
}

.form_custom
{
	width: 20%;
	margin: auto;

}

.label
{
	font-weight: bold;
	font-family: larch,verdana;
	font-size: 125%;
}

.entrylabel
{
	margin-bottom: 15px;
	font-family: larch,verdana;
}

.inputfields_container
{
	float: right;
	margin: auto;
	margin-right: 15%;
	margin-top: 11%;
	margin-bottom: 11%;
	font-family: verdana;
}

hr.bottombar
{
	width: 40%;
	text-align: center;
	border-top: 1px solid #2ecc71;
	margin: 0 auto;
}

div.img
{
	height: auto;
	width: 70%;
	margin: auto;
	margin-top: 10px;
}	

div.img_container
{
	height: 175px;
	width: auto;
	float: left;
	margin: 5px;
	background-color: #1d1d1d;
}

img.img
{
	height: 120px;
	width: 120px;
	float: left top;
	text-align: center;
	text-align: center;
	z-index: 2px;
	background-color: #1d1d1d;
}	

img.img img:hover img 
{
	border: 3px solid #2ecc71;
}

div.songtitle
{
	text-align: left;
	width: 80px;
	color: #ffffff;
	margin-top : 6px;
	margin-left: 4px;
	font-size: 16px;
}

div.songartist
{
	text-align: left;
	width: 80px;
	float: bottom;
	margin-bottom: 2px;
	margin-left: 4px;
	color: #2ecc71;
	font-size: 12px;
}

.list-group-item-custom
{
	font-size: 36px;
	color: #ffffff;
	font-family: verdana;
	line-height: 200px;
	background-size: 100%;
	text-align: center;
}

div.genre
{
	background-repeat: no-repeat;
	background-size: cover;
}

li.playlist{
	height: 64px;
	padding: 0px;
}

img.playlist
{
	height: 64px;
	width: 64px;
	margin: 0px;
}

span.playlist
{

}

div.playlist-main
{
	width: 100%;
	padding: 0px;
}